<% @links.each do |link| %>
  <h3><%= link_to link.title, link %> <a class="btn btn-default btn-sm float-right" href="<%= link.url %>">Visit Link</a></h3>
  <p>Submitted <%= time_ago_in_words(link.created_at) %> by User ID: <%= link.user.id %></p>
<% end %>